asyncio==3.4.3
dash==2.17.0
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-extensions==1.0.15
dash-html-components==2.0.0
gnews==0.3.7
luno_python==0.0.10
pandas==2.2.2
plotly==5.20.0
requests==2.31.0
valr_python==0.2.7
gunicorn
dash-tools
